/* Century Gothic Regular (MAIN)
Livvic Bold
Livvic Medium
Livvic Semibold
JohnStown Demo Regular
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	background: #334B35;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #FFFFFF;
}

.wrapper {
	max-width: 1458px;
	margin: 0 auto;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.btn {
	font-size: 14px;
	font-weight: 500;
	/* line-height: normal; */
	padding: 25px 50px;
	border: none;
	border-radius: 20px;
	background: #F7C35F;
	color: #1A1A1A;
	width: 218px;
}

/* ==========HEADER========== */
.header-nav {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: start;
	margin: 40px 0 40px 0;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
	margin: 0 0 0 455px;
}

.nav-menu-link {
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
	border-bottom: 3px solid transparent;
}

.nav-menu-link:hover {
	font-weight: 700;
	border-bottom: 2px solid #F7C35F;
}

.nav-menu-link:active {
	border-bottom: 2px solid #F7C35F;
}

/* ==========HEADER========== */

/* ==========MAIN========== */

/* **********Hero********** */
.hero {
	background-image: url(/images/hero.png);
	padding: 0 0 235px 0;
}

.hero-logo {
	margin: 180px 0 15px 0;
}

.hero-title {
	font-family: 'Livvic', sans-serif;
	width: 800px;
	font-size: 70px;
	font-weight: 700;
	margin: 0 0 10px 0;
}

.hero-title-orange {
	color: #F7C35F;
}

.hero-text {
	color: #FFFFFF;
	width: 690px;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 55px 0;
}

/* **********Hero********** */

/* ==========MAIN========== */

/* ==========FOOTER========== */
/* ==========FOOTER========== */

@media (max-width: 1458px) {
	.wrapper {
		max-width: 769px;
	}
}

/* TABLET */
@media (max-width: 768px) {
	.wrapper {
		max-width: 481px;
	}
}

/* MOBILE */
@media (max-width: 480px) {
	.wrapper {
		max-width: 321px;
	}
}

/* MINI MOBILE */
@media (max-width: 320px){
	.wrapper {
		max-width: auto;
	}
}